@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: poppins;
  src: url(./Asset/Poppins-Regular.ttf);
}
body {
  background-color: #f2f2f2;
  font-family: poppins;
}
